<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @candidate.name %>
</p>

<p>
  <strong>Party:</strong>
  <%= @candidate.party %>
</p>

<p>
  <strong>Office:</strong>
  <%= @candidate.office %>
</p>

<p>
  <strong>County:</strong>
  <%= @candidate.county %>
</p>

<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>
