<p id="notice"><%= notice %></p>

<h1>Listing Accounting Transactions</h1>

<table>
  <thead>
    <tr>
      <th>Counterparty</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Amount ytd</th>
      <th>Type</th>
      <th>Nature</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accounting_transactions.each do |accounting_transaction| %>
      <tr>
        <td><%= accounting_transaction.counterparty %></td>
        <td><%= accounting_transaction.date %></td>
        <td><%= accounting_transaction.amount %></td>
        <td><%= accounting_transaction.amount_ytd %></td>
        <td><%= accounting_transaction.type %></td>
        <td><%= accounting_transaction.nature %></td>
        <td><%= link_to 'Show', accounting_transaction %></td>
        <td><%= link_to 'Edit', edit_accounting_transaction_path(accounting_transaction) %></td>
        <td><%= link_to 'Destroy', accounting_transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Accounting transaction', new_accounting_transaction_path %>
