<%= form_for(@accounting_report) do |f| %>
  <% if @accounting_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@accounting_report.errors.count, "error") %> prohibited this accounting_report from being saved:</h2>

      <ul>
      <% @accounting_report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :committee_id %><br>
    <%= f.text_field :committee_id %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :period_start %><br>
    <%= f.date_select :period_start %>
  </div>
  <div class="field">
    <%= f.label :period_end %><br>
    <%= f.date_select :period_end %>
  </div>
  <div class="field">
    <%= f.label :ammendment %><br>
    <%= f.check_box :ammendment %>
  </div>
  <div class="field">
    <%= f.label :cash_year_start %><br>
    <%= f.text_field :cash_year_start %>
  </div>
  <div class="field">
    <%= f.label :cash_period_start %><br>
    <%= f.text_field :cash_period_start %>
  </div>
  <div class="field">
    <%= f.label :contributions_itemized %><br>
    <%= f.text_field :contributions_itemized %>
  </div>
  <div class="field">
    <%= f.label :contributions_itemized_ytd %><br>
    <%= f.text_field :contributions_itemized_ytd %>
  </div>
  <div class="field">
    <%= f.label :contributions_unitemized %><br>
    <%= f.text_field :contributions_unitemized %>
  </div>
  <div class="field">
    <%= f.label :contributions_unitemized_ytd %><br>
    <%= f.text_field :contributions_unitemized_ytd %>
  </div>
  <div class="field">
    <%= f.label :expenditures_itemized %><br>
    <%= f.text_field :expenditures_itemized %>
  </div>
  <div class="field">
    <%= f.label :expenditures_unitemized %><br>
    <%= f.text_field :expenditures_unitemized %>
  </div>
  <div class="field">
    <%= f.label :expenditures_itemized_ytd %><br>
    <%= f.text_field :expenditures_itemized_ytd %>
  </div>
  <div class="field">
    <%= f.label :expenditures_unitemized_ytd %><br>
    <%= f.text_field :expenditures_unitemized_ytd %>
  </div>
  <div class="field">
    <%= f.label :debts_owed_to %><br>
    <%= f.text_field :debts_owed_to %>
  </div>
  <div class="field">
    <%= f.label :debts_owed_by %><br>
    <%= f.text_field :debts_owed_by %>
  </div>
  <div class="field">
    <%= f.label :signed_at %><br>
    <%= f.date_select :signed_at %>
  </div>
  <div class="field">
    <%= f.label :source_url %><br>
    <%= f.text_field :source_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
